<html lang='en'>

	<head>

		<meta charset='UTF-8' />
		<meta name='viewport' content='width=device-width, initial-scale=1.0' />
		<link rel='stylesheet' href='/css/style.css' />

		<link
			href='https://fonts.googleapis.com/css2?family=Assistant:wght@200;600;800&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Medula+One&display=swap'
			rel='stylesheet'
		/>

		<title>The Sword</title>
	</head>
	<body>
		{{{body}}}
	</body>
	{{#if loggedIn}}
		<button class='submit' id='logout' type='submit'>LOG OUT</button>
		<script src='/js/logout.js'></script>
	{{/if}}
</html>