<!-- nothing here yet! Would probably show info for answers the player made last run || or on every next run -->

<div><h2>Dashboard</h2></div>

<div><p>Info</p></div>
<div><p>Info</p></div>
<div><p>Info</p></div>

<button class="submit">BEGIN GAME</button>