<!-- nothing here yet! Would probably show info for answers the player made last run || or on every next run -->

<div class='wrapper'>
	<h2 class='welcome animate__animated animate__slower animate__pulse'>Welcome {{dbData.user}}</h1>
    <button class='submit btn' id='newgame-btn'>BEGIN GAME</button>

    {{#if dbData.answers.length}}
    <div class='statistics-card animate__animated animate__slower animate__fadeIn animate__delay-1s'>
        <h3 class='loop-msg'>Last loop, you chose...:</h3>
        {{#each dbData.answers}}
        <p class='choice-ctnt'>{{choice.content}}</p>
        {{/each}}
    </div>
    {{else}}
    <p id='no-stats'>You've no choice but to venture forth.</p>
    {{/if}}

</div>

<footer>

	<h5>UTSA CODING BOOT CAMP 2021-22</h5>
	<p>A MINI TEXT ADVENTURE BY NATASHA ORTIZ, BRIGITTE POWERS, AND GREG
		ZARAGOZA</p>
</footer>

<script src='/js/newgame.js'></script>