<main>

	<h1 class="font-bold animate__animated animate__slower animate__fadeIn">The Sword</h1>

	<div id='form' class='flex lg:flex-row sm:flex-col'>
		<div>
			<form id='login-form'>
				<h3>Log In</h3>
				<input
					class='form-input bg-transparent placeholder-white text-white text-xs tracking-wider border-b border-white outline-none'
					type='text'
					id='username-login'
					placeholder='USERNAME'
				/>
				<input
					class='form-input bg-transparent placeholder-white text-white text-xs tracking-wider border-b border-white outline-none'
					type='password'
					id='password-login'
					placeholder='PASSWORD'
				/>
				<button class='submit bg-transparent hover:bg-white text-white tracking-wider font-bold hover:text-black border border-white rounded-full cursor-pointer' type='submit'>CONTINUE</button>
			</form>
		</div>
		<div>
			<form id='signup-form'>
				<h3>Sign Up</h3>
				<input
					class='form-input bg-transparent placeholder-white text-white text-xs tracking-wider border-b border-white outline-none'
					type='text'
					id='username-signup'
					placeholder='NEW USERNAME'
				/>
				<input
					class='form-input bg-transparent placeholder-white text-white text-xs tracking-wider border-b border-white outline-none'
					type='password'
					id='password-signup'
					placeholder='NEW PASSWORD'
				/>
				<button class='submit bg-transparent hover:bg-white text-white tracking-wider font-bold hover:text-black border border-white rounded-full cursor-pointer' type='submit'>CONTINUE</button>
			</form>
		</div>
	</div>

	<footer>

		<h5>UTSA CODING BOOT CAMP 2021-22</h5>
		<p>A MINI TEXT ADVENTURE BY NATASHA ORTIZ, BRIGITTE POWERS, AND GREG
			ZARAGOZA</p>
	</footer>

	<script src='/js/signup.js'></script>
	<script src='/js/login.js'></script>

</main>