<main>

	<h1 class='animate__animated animate__slower animate__fadeIn'>The Sword</h1>

	<div id='form'>
		<div>
			<form id='login-form'>
				<h3>Login</h3>
				<input
					class='form-input'
					type='text'
					id='username-login'
					placeholder='USERNAME'
				/>
				<input
					class='form-input'
					type='password'
					id='password-login'
					placeholder='PASSWORD'
				/>
				<button class='submit' type='submit'>LOG IN</button>
			</form>
		</div>
		<div>
			<form id='signup-form'>
				<h3>Signup</h3>
				<input
					class='form-input'
					type='text'
					id='username-signup'
					placeholder='NEW USERNAME'
				/>
				<input
					class='form-input'
					type='password'
					id='password-signup'
					placeholder='NEW PASSWORD'
				/>
				<button class='submit' type='submit'>SIGN UP</button>
			</form>
		</div>
	</div>

	<footer>

		<h5>UTSA CODING BOOT CAMP 2021-22</h5>
		<p>A MINI TEXT ADVENTURE BY NATASHA ORTIZ, BRIGITTE POWERS, AND GREG
			ZARAGOZA</p>
	</footer>

	<script src='/js/signup.js'></script>
	<script src='/js/login.js'></script>

</main>