{{!-- <button class='submit' id='logout' type='submit'>LOG OUT</button>

<script src='/js/logout.js'></script> --}}
<section>

    <div id='story'>
        <h4>{{story.content}}</h4>
        {{#each choices as |choice}}
        {{!-- button choices go here --}}
        {{/each}}
    </div>

    <div id='image'><img src="/assets/{{story.filename}}"></div>

</section>

<script src='/js/logout.js'></script>