<section>

    <div id='story'>
        <h4>{{story.content}}</h4>
            <div id="story-choices">
                {{#each story.choices as |choice|}}
                {{> choice-details}}
                {{/each}}
            </div>
    </div>

    <div id='image'><img src="/assets/{{story.filename}}"></div>

</section>

<<<<<<< HEAD
{{!-- {{#if story.content}} --}}
<script src='/js/answer.js'></script>
{{!-- {{/if}} --}}
=======
<script src='/js/answer.js'></script>
>>>>>>> a2d1d76fa4e5981b7ad0378a6e3db1b19eefd2de
