<section>

    <div id='story'>
        <h4 class='animate__animated animate__slower animate__fadeIn'>{{story.content}}</h4>
            <div id="story-choices" class='animate__animated animate__slower animate__fadeIn'>
                {{#each story.choices as |choice|}}
                {{> choice-details}}
                {{/each}}
            </div>
    </div>

    <div id='image' class='animate__animated animate__slower animate__fadeIn animate__delay-1s'><img src="/assets/{{story.filename}}"></div>

</section>

<script src='/js/answer.js'></script>
