* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html, body {
	scroll-behavior: smooth;
	font-family: 'Assistant', sans-serif;
	background-color: black;
	color: white;
}

main {
	background-image: url('../../assets/thesword-homepage.jpg');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: top;
}

h1 {
	display: block;
	text-align: center;
	font-size: 300pt;
	font-family: 'Medula One', cursive;
	letter-spacing: 5pt;
	animation-duration: 10s;
}

#form {
	background-color: black;
	opacity: 75%;
	border: 1px solid #fff693;
	margin: 0 auto;
	margin-top: 75px;
	padding: 0;
	width: 50%;
	align-items: center;
}

#form h3 {
	font-family: 'Medula One', cursive;
	font-size: 24pt;
}

#form div {
	padding: 25px;
	margin: 0 auto;
	padding-left: 30px;
    padding-right: 30px;
}

input {
	display: inline;
	width: 100%;
	margin-top: 30px;
	border: none;
	outline: none;
	color: white;
	letter-spacing: 1px;
	background-color: transparent;
	border-bottom: 1px solid white;
	padding-bottom: 15px;
}

::placeholder {
	color: white;
	letter-spacing: 1px;
}

button {
	position: relative;
	top: 5px;
	margin-top: 35px;
	font-size: 10pt;
	letter-spacing: 1px;
	padding: 15px;
}

button:hover {
	color: white;
	animation: pulse;
	animation-duration: 3s;
}

button:active {
	color: white;
	animation: fadeOut;
	animation-duration: 1s;
}

section {
    display: flex;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    align-items: center;
    justify-content: center;
    vertical-align: center;
}

section div {
	width: 50%;
	flex-grow: 1;
}

.wrapper {
	text-align: left;
	margin: 200px;
}

.wrapper img {
	max-height: 600px;
	max-width: 600px;
}

.welcome {
	padding-top: 5%;
	display: block;
	text-align: left;
	font-size: 65pt;
	font-weight: bold;
	font-family: 'Medula One', cursive;
	letter-spacing: 5pt;
}

#newgame-btn {
	margin-bottom: 2%;
}

.loop-msg {
	font-size: 22pt;
}

.story-ctnt {
	font-size: 18pt;
}

.choice-ctnt {
	font-size: 15pt;
}

#no-stats {
	color: rgb(176, 177, 179);
	font-style: italic;
}

#story,
#image {
	width: 100%;
	flex-grow: 1;
	margin: 150px;
}

#story h4 {
	font-size: 28pt;
	font-weight: 100;
}

#story-choices {
	width: 100%;
	margin-top: 40px;
}

#story a {
	color: white;
	text-decoration: none;
	display: block;
	font-size: 18pt;
	font-weight: 600;
	transition: 0.25s ease-in-out;
}

a:hover {
	color: #fff693;
	text-shadow: 0 0 3px white, 0 0 3px white;
}

#image img {
	max-width: 900px;
	max-height: 900px;
}

footer {
	margin: 75px;
	text-align: center;
	letter-spacing: 1pt;
	line-height: 34px;
	text-shadow: 0 0 50px black, 0 0 50px black, 0 0 50px black;
}

footer h5 {
	display: block;
	width: 100%;
	font-size: 20px;
	font-weight: 300;
}

#logout {
	margin-left: 200px;
	border: 1px solid rgb(134, 134, 134);
	color: rgb(134, 134, 134);
}
