* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
    scroll-behavior: smooth;
    font-family: 'Barlow', sans-serif;
    background-color: black;
    color: white;
}

main {
    height: 100%;
}

section {
    display: flex;
    height: 100%;
}

section div {
    width: 50%;
    flex-grow: 1;
}

#intro, #image {
    width: 100%;
    flex-grow: 1;
    padding: 100px;
}

#intro {
    background-color: darkslategrey;
}

h1, h2 {
    display: block;
    text-align: center;
}

h1 {
    font-size: 100pt;
    font-weight: bold;
}

h2 {
    margin-top: 35px;
    font-size: 35pt;
    font-weight: 300;
}

#form {
    margin-top: 300px;
    padding: 0;
    display: flex;
    width: 100%;
    align-items: center;
}

#form div {
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
}

input {
    display: inline;
    width: 100%;
    margin-top: 40px;
    border: none;
    outline: none;
    color: white;
    font-family: 'Barlow', sans-serif;
    letter-spacing: 1px;
    background-color: transparent;
    border-bottom: 1px solid white;
    padding-bottom: 15px;
}

::placeholder {
    color: white;
    font-family: 'Barlow', sans-serif;
    letter-spacing: 1px;
}

.submit {
    position: relative;
    /* top: 5px; */
    margin-top: 35px;
    border: 1px solid white;
    border-radius: 50px;
    background-color: transparent;
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
    font-family: 'Barlow', sans-serif;
    padding: 15px;
    cursor: pointer;
}

#image {
    background-image: url("../../assets/shutterstock_782968639.jpg");
    background-size: cover;
    background-position: center;
}

footer {
    margin-top: 150px;
    text-align: center;
    letter-spacing: 1pt;
    line-height: 34px;
}

footer h5 {
    display: block;
    width: 100%;
    font-size: 20px;
    font-weight: 300;
}